
[1]
image = tiles/tileset/1.png
block = True


[8]
image = tiles/tileset/8.png
block = False


[6]
image = tiles/tileset/6.png
block = False


[4]
image = tiles/tileset/4.png
block = False


[13]
image = tiles/tileset/13.png
block = False


[2]
image = tiles/tileset/2.png
block = False


[5]
image = tiles/tileset/5.png
block = False


[15]
image = tiles/tileset/15.png
block = False


[7]
image = tiles/tileset/7.png
block = False


[9]
image = tiles/tileset/9.png
block = False


[16]
image = tiles/tileset/16.png
block = True


[10]
image = tiles/tileset/10.png
block = False


[11]
image = tiles/tileset/11.png
block = True


[12]
image = tiles/tileset/12.png
block = False


[14]
image = tiles/tileset/14.png
block = False


[tileset]
image = tiles/tileset/tileset.png
block = False


[3]
image = tiles/tileset/3.png
block = False

